<% if @batches.present? %>
  <% @batches.each do |b| %>
    <!-- Card for each batch -->
    <div id="edit_batch<%= b.id %>" class="relative bg-white shadow-md rounded-lg border-t-4 border-purple-500 hover:shadow-lg transition-shadow duration-300 ease-in-out">
      <!-- Card Header -->
      <div class="flex justify-between items-center p-4">
        <!-- Batch Name -->
        <h3 class="text-lg font-semibold text-gray-800">
          <%= link_to b.name, batch_path(b), class: "hover:underline text-purple-600" %>
        </h3>

        <!-- Actions -->
        <% if session[:guide_id] %>
          <% if Guide.find(session[:guide_id]).type == "Coordinator" && b.students.where(section: Guide.find(session[:guide_id]).section).present? %>
            <div class="grid place-items-end">
              <%= link_to "Upload Guides", batch_show_two_path(b), class: "bg-emerald-600 text-white font-medium py-1 px-2 rounded-lg shadow-md hover:bg-emerald-500 focus:ring-4 focus:ring-emerald-400 transition:ease-in duration-300" %>
            </div>
          <% elsif Guide.find(session[:guide_id]).type == "Coordinator" && !b.students.where(section: Guide.find(session[:guide_id]).section).present? %>
            <span class="text-red-500">Upload Students List</span>

          <% end %>

          <!-- Edit Icon -->
          <div>
            <%= button_to edit_batches_path(batch_id: b.id), data: { turbo_method: :post } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-600 hover:text-red-500 transition duration-200">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <!-- No batches found -->
  <div class="col-span-full text-center text-gray-500">
    <p>No batches available at the moment.</p>
  </div>
<% end %>